@page
@model ProductMove_APP.Pages.TTBHManager.XuatKho_KhachHangNhanMayModel
@{
}
<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <h3 class="fw-bold py-3 mb-4">Sửa chữa hoàn tất!</h3>
                        <h4>Khách nhận lại máy.</h4>
                        <div class="row">
                            <!-- Basic -->
                            <div class="">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <form method="post" enctype="multipart/form-data">
                                            <label for="defaultFormControlInput" class="form-label">Seri</label>
                                            <input type="text"
                                                   asp-for="input.Seriname"
                                                   class="form-control"
                                                   id="defaultFormControlInput"
                                                   placeholder="Seri"
                                                   aria-describedby="defaultFormControlHelp" />
                                            @{
                                                if (ViewBag.invalid != null)
                                                {
                                                    <span class="text-danger">Không tồn tại bất kỳ sản phẩm nào có số seri trên!</span>
                                                }
                                                else
                                                {
                                                    <span asp-validation-for="input.Seriname" class="text-danger"></span>
                                                }
                                            }
                                            <br />
                                            <div class="row mb-3">
                                                <input type="submit" value="Add" class="btn btn-primary btn-buy-now" style="width:120px; margin-left:10px" />
                                                <a style="width:120px; margin-left:10px" class="btn btn-danger btn-buy-now" asp-page="Index">Back</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / Content -->
                        <div class="content-backdrop fade"></div>
                    </div>
                    <!-- Content wrapper -->
                </div>
                <!-- / Layout page -->
            </div>
        </div>
    </div>
    <!-- / Layout wrapper -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>
    <!-- Page JS -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>