@page
@model ProductMove_APP.Pages.ProductManager.CreateModel
@{
    ViewData["Title"] = "Create";
}
<body>

    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <div class="layout-page">
                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <h4 class="fw-bold py-3 mb-4">Thêm mới sản phẩm kinh doanh</h4>
                        <div class="row">
                            <div class="">
                                <div class="card mb-4">
                                    <div class="card-body demo-vertical-spacing demo-only-element">
                                        <form method="post" enctype="multipart/form-data">
                                            <div class="mb-3">
                                                <label asp-for="product.categoryName" class="form-label">Loại sản phẩm</label>
                                                <select asp-for="product.idCategory" class="form-select" asp-items="@(new SelectList(ViewBag.category,"idCategory","categoryName"))"></select>
                                                <input asp-for="product.categoryName" value="null" hidden />
                                            </div>
                                            <label class="form-label" for="basic-default-Username" asp-for="product.productName">Tên sản phẩm</label>
                                            <div class="input-group">
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="Product name"
                                                       aria-label="Productname"
                                                       aria-describedby="basic-addon11"
                                                       asp-for="product.productName" />

                                            </div>
                                            <span asp-validation-for="product.productName" class="text-danger" style="padding-bottom:10px;"></span>
                                            <label class="form-label" for="basic-default-Username" asp-for="product.price">Giá thành</label>
                                            <div class="input-group">
                                                <span class="input-group-text">VND</span>
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="Loại tiền tệ VND"
                                                       aria-label="Price (to the nearest dollar)"
                                                       asp-for="product.price" />
                                                <span class="input-group-text">.00</span>

                                            </div>
                                            <span asp-validation-for="product.price" class="text-danger" style="padding-bottom:10px;"></span>
                                            <label class="col-sm-3 col-form-label" asp-for="product.description"></label>
                                            <div class="input-group">

                                                <span class="input-group-text">Mô tả sản phẩm</span>
                                                <textarea class="form-control" aria-label="Describe" placeholder="Comment ..." asp-for="product.description"></textarea>

                                            </div>
                                            <span asp-validation-for="product.description" class="text-danger" style="padding-bottom:10px;"></span>
                                            <label class="form-label" for="basic-default-Username" asp-for="product.warrantyPeriod">Thời hạn bảo hành</label>
                                            <div class="input-group">
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="Tính bằng năm"
                                                       aria-label="WarrantyPeriod"
                                                       aria-describedby="basic-addon11"
                                                       asp-for="product.warrantyPeriod" />

                                            </div>
                                            <span asp-validation-for="product.warrantyPeriod" class="text-danger" style="padding-bottom:10px;"></span>
                                            <div class="row mb-3" style="padding-top:10px;">
                                                <input type="submit" value="Thêm mới" class="btn btn-primary btn-buy-now" style="width:120px; margin-left:10px" />
                                                <a style="width:120px; margin-left:10px" class="btn btn-danger btn-buy-now" asp-page="Index">Trở lại</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="content-backdrop fade"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

    </script>
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../assets/vendor/js/menu.js"></script>
    <script src="../assets/js/main.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>